.sel-icon path {
  stroke: #3AD0F8;
}

.circle {
  stroke-linecap: round;
}

.percentage {
  font-family: sans-serif;
  font-size: 0.7em;
  text-anchor: middle;
}

.percentage-symbol {
  font-family: sans-serif;
  font-size: 0.3em;
  text-anchor: middle;
}

.half-circle {
  font-family: sans-serif;
  font-size: 1.4em;
  text-anchor: middle;
}

.bg-light-red {
  background-color: rgba(255, 110, 110, 0.06);
}